<section class="section">
  <div class="container">
    <h1 class="title is-1">Pages#hello</h1>
    <h2 class="subtitle">Find me in app/views/pages/hello.html.erb</h2>
    <a class="button is-primary">Button</a>
  </div>
</section>
